.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex-grow: 3;
  padding: 1rem;
  background-color: var(--color-dark2);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-1);
  overflow-y: auto;
}

.title {
  color: var(--color-gray3);
  margin-bottom: 1rem;
}

.list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  background-color: #353535;
  border-radius: var(--radius-1);
  transition: 0.3s;
  animation: myAnim 600ms linear 0s 6 normal none;
  &:hover {
    background-color: var(--color-gray1);
  }
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.name {
  font-size: 1.25rem;
  color: var(--color-gray3);
}

@media (max-width: 800px) {
  .wrapper {
    padding: 0.5rem;
    scroll-snap-align: end;
  }
  .list {
    gap: 0;
    padding: 0.3rem;
    ul {
      margin: 0;
    }
  }
  .title {
    margin-bottom: 0.25rem;
  }
}