.loginPage {
  background: url('../../assets/img/bg-login.jpg') no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.loginBtn {
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}