.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.length {
  width: 80%;
}

.button {
  all: unset;
  height: 50px;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--color-gray1);

  &:hover {
    background-color: var(--color-red);
    color: var(--color-main);
    font-weight: 700;
  }
}