.wrapper {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.input {
  width: 90%;
}

.button {
  all: unset;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
  box-shadow: var(--shadow-1);
  transition: 0.3s;
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-dark1);
    font-weight: 700;
  }
}