.title {
  display: flex;
  grid-column: 1/span 2;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
  padding: 1rem 0;
  box-shadow: var(--shadow-1);
}

.container {
  display: flex;
}

.avatar {
  margin: 0 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 0.3rem;
  box-shadow: var(--shadow-1);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.5rem;
}

.steamLink {
  user-select: text;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.link {
  all: unset;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s;

  &:hover {
    color: var(--color-blue);
  }
}

.copy {
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
  &:hover {
    color: var(--color-blue);
  }
}