.title {
  display: flex;
  grid-column: 1/span 2;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
  padding: 1rem 0;
  box-shadow: var(--shadow-1);
}

.container {
  display: flex;
}

.avatar {
  margin: 0 1rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.3rem;
  box-shadow: var(--shadow-1);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: var(--color-main);
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  align-items: center;
  & img {
    margin-right: 0.2rem;
    width: 2.75rem;
  }
}

.controlIcon {
  cursor: pointer;
  color: var(--color-gray3);
  opacity: 0.2;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.onControl {
  cursor: pointer;
  opacity: 1;
  color: var(--color-red);
}

.steamLink {
  user-select: text;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.link {
  all: unset;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s;

  &:hover {
    color: var(--color-blue);
  }
}

.copy {
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
  &:hover {
    color: var(--color-blue);
  }
}

@media (max-width: 800px) {
  .title {
    padding: 0.5rem 0;
  }
  .avatar {
    margin: 0 0.5rem;
    width: 5rem;
    height: 5rem;
  }
  .name {
    font-size: 1.1rem;
    & img {
      display: none;
    }
  }

  .link {
    font-size: 1rem;
  }

  .info {
    font-size: 0.85rem;
  }
}