.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--color-dark2);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-1);
}

.title {
  color: var(--color-gray2);
  margin-bottom: 1rem;
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  justify-content: space-between;
  transition: 0.3s;
  font-weight: 300;
  &:hover {
    background-color: var(--color-gray1);
  }
}

.name {
  color: var(--color-gray3);
}

.since {
  color: var(--color-gray2);
}
