.row {
  display: grid;
  grid-template-columns: auto 5em;
  grid-template-rows: 1em 1fr;
  align-items: center;
  padding: 0.6rem;
  gap: 0.6rem;
}

.name{
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  transition: 0.3s;
  color: var(--color-gray3);
  &:hover {
    color: var(--color-orange);
  }
}

.time {
  font-weight: 300;
  white-space: nowrap;
  align-self: start;
  text-align: center;
  font-size: 0.85rem;
  color: var(--color-gray3);
  padding: 0.3rem;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
}

.type {
  min-width: 0;
  font-weight: 300;
  font-size: 0.85rem;
  text-align: center;
  color: var(--color-gray3);
  padding: 0.3rem;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
}

.message {
  word-wrap: anywhere;
  overflow-wrap: break-word;
  min-width: 0;
  font-size: 1rem;
  color: var(--color-gray2);
}