:root {
  --color-dark1: #212122;
  --color-dark2: #2a2a2b;
  --color-gray1: #3c3f41;
  --color-gray2: #5e5e5f;
  --color-gray3: #939394;
  --color-main: #fdfdfe;
  --color-main2: rgba(253, 253, 254, 0.65);
  --color-blue: #4ba8fe;
  --color-orange: #fdac34;
  --color-green: #33fdd9;
  --color-red: #fd4b4c;
}
