.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  animation: fade 0.2s, overlay 1s forwards;
}

@keyframes fade {
  0% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes overlay {
  from {
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
  }
}

.modal {
  z-index: 2;
  max-height: 60vh;
}










