.tablesBtn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tablesWrapper {
  overflow: auto;
}

.modal {
  display: flex;
  gap: 1rem;
}

.info {
  display: grid;
  grid-template-columns: auto 5fr;
  grid-template-rows: auto 5fr;
  gap: 1rem;
  width: 700px;
}

.actions {
  //opacity: 1;
  width: 550px;
}


