.wrapper {
  display: flex;
  width: 100%;
}

.button {
  all: unset;
  height: max-content;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.15rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--color-gray1);

  &:hover {
    background-color: var(--color-red);
    color: var(--color-main);
  }
}