.row {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray1);
  transition: 0.3s;
  color: var(--color-main2);
  &:last-child {
    border: none;
  }
}

.action {
  white-space: nowrap;
  font-size: 0.85rem;
  line-height: 1rem;
}

.time {
  white-space: nowrap;
  font-size: 0.85rem;
  color: var(--color-gray3);
  padding: 0.3rem;
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
}

.name {
  white-space: nowrap;
  cursor: pointer;
  color: var(--color-blue);
  transition: 0.3s;
  &:hover {
    color: var(--color-orange);
  }
}

.admin {

}

.reason {
  font-size: 0.85rem;
  line-height: 1rem;
}

.server {
  margin-left: auto;
}

@media (max-width: 800px) {
  .row {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 0.3rem;
    gap: 0.2rem;
    width: 100%;
  }

  .name {
    margin-right: auto;
    font-size: 0.85rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 0;
  }

  .reason {
    font-size: 0.85rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 0;
  }

  .action {
    font-size: 0.8rem;
    margin-left: auto;
  }

  .admin {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    font-size: 0.75rem;
    padding: 0.2rem;
  }

  .server {
    font-size: 0.85rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
  }

}