.actionBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fade 0.3s ease-out;
}

@keyframes fade {
  0% {
    transform: translateY(-1500px);
  }
  100% {
    transform: translateY(0);;
  }
}

.actionForms {
  display: flex;
  width: 400px;
  animation: fade 0.5s ease-in;
}

@keyframes fade {
  0% {
    transform: translateY(-1500px);
  }
  100% {
    transform: translateY(0);;
  }
}


.wrapper {
  display: flex;
  gap: 1rem;
}