.actionsBtns {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark1);
  color: var(--color-gray3);
}

.actionsForm {
  display: flex;
  height: 130px;
  color: var(--color-gray3);
  align-items: center;
}