.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray1);
  border-radius: 0.5rem;
  height: 100%;
  overflow-y: auto;
  box-shadow: var(--shadow-1);
}

.statRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-gray1);
}


.kd {
  color: var(--color-main2);
  font-size: 2.75rem;
}

.mtext {
  color: var(--color-gray3);
  font-size: 1.2rem;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}

.smtext {
  font-size: 0.8rem;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray1);
  &:last-child {
    border: none;
  }
}

.time {
  display: flex;
  font-size: 1rem;
  color: var(--color-gray3);
  background-color: var(--color-gray1);
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.message {
  color: var(--color-main2);
  word-wrap: anywhere;
  hyphens: auto;
  font-size: 0.85rem;
}

