.wrapper {
  grid-column-start: menu-start;
  grid-column-end: menu-end;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-gray1);
  width: 12em;
}

.item {
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--color-gray3);
  }
}

.icon {
  font-size: 3rem;
}

.name {
  all: unset;
  font-size: 24px;
}
