.historyCard {
  display: flex;
  flex-direction: column;
  grid-column-start: aside-left-start;
  grid-column-end: aside-left-end;
  grid-row: 1/-1;
  align-items: center;
  min-width: 0;
  min-height: 0;
  height: 100%;
  gap: 1rem;
  overflow-y: auto;
}




@media (max-width: 800px) {
  .historyCard {
    height: 60vh;
    scroll-snap-align: start;
  }
}