.wrapper {
  grid-column-start: aside-right-start;
  grid-column-end: aside-right-end;
  grid-row: 2/-1;
  background-color: var(--color-dark2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-1);
  animation: myAnim 300ms linear 0s 1 normal none;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.actionsWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.select {
  width: 100%;
}