.wrapper {
  display: grid;
  grid-template-columns:
    [menu-end aside-left-start] 1.25fr
    [aside-left-end main-start] 3fr
    [main-end aside-right-start] 1.25fr
    [aside-right-end];
  grid-template-rows: 1fr 7fr 3fr;
  gap: 1rem;
  //margin: auto;
  height: 100%;
  min-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row: 2/-1;
}


@media (max-width: 800px) {
  .wrapper {
    all: unset;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    //grid-template-rows:
    //[main-start main-end] 3fr
    //[aside-left-start aside-left-end] 3fr
    //[aside-right-start aside-right-end] 1.25fr;
  }
  .main {
    all: unset;
    display: grid;
    grid-row: -1/1;
  }
}