.wrapper {
  display: grid;
  grid-template-columns:
    [menu-end aside-left-start] 1fr
    [aside-left-end main-start] 2fr
    [main-end aside-right-start] 1fr
    [aside-right-end];
  grid-template-rows: 1fr 7fr 3fr;
  gap: 1rem;
  margin: auto;
  height: 100%;
  overflow-y: hidden;
  padding: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row: 2/-1;
}