.teamWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 0;
  flex: 1 0 0;
}

.flagWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  margin-bottom: 1rem;
}

.flagContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  & img {
    width: 5em;
    border-radius: 0.3rem;
  }

  & p {
    color: var(--color-main2)
  }
}

.generatedName {
  font-weight: 500;
  font-size: 1.85rem;
}

.defaultName {
  color: var(--color-gray2);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem;
  background-color: rgba(33, 33, 34, 0.55);
  border-radius: 0.3rem;
  color: var(--color-gray3);
}

@media (max-width: 800px) {
  .teamWrapper {
    width: 100%;
    padding: 0.5rem;
  }
  .flagWrapper {
    //scroll-snap-align: start;
  }
  .title {
    //scroll-snap-align: start;
  }
}