.layout {
  display: flex;
  background-color: var(--color-gray1);
  max-width: 1980px;
  padding: 1.5rem 170px 1.5rem 20px;
  gap: 1rem;
  margin: auto;
  height: 100vh;
  & main {
    flex-grow: 1;
  }
}
